.mainDiv {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-gap: 1em;
  grid-template-columns: auto auto;
}

.mainDiv > div:nth-child(1) > div {
  width: clamp(18.75rem, 17.361vw + 10.417rem, 31.25rem);
  height: clamp(12.5rem, 8.681vw + 8.333rem, 18.75rem);
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-content: center;
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 2s;
}
.mainDiv > div:nth-child(1){
  background: url("../public/card1.svg") no-repeat;
}
.mainDiv > div {
  overflow: hidden;
}
.div1:hover {
  transform: rotate(-13deg) scale(1.3);
}

.mainDiv > div:nth-child(2) > div{
  width: clamp(18.75rem, 17.361vw + 10.417rem, 31.25rem);
  height: clamp(12.5rem, 8.681vw + 8.333rem, 18.75rem);
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-content: center;
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 2s;
}
.mainDiv > div:nth-child(2){
  background: url("../public/blue.svg") no-repeat;
}
.div2:hover {
  transform: rotate(13deg) scale(1.3) translateY(50px);
}


.mainDiv > div:nth-child(3) > div {
  width: clamp(18.75rem, 17.361vw + 10.417rem, 31.25rem);
  height: clamp(12.5rem, 8.681vw + 8.333rem, 18.75rem);
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-content: center;
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 2s;
}
.mainDiv > div:nth-child(3){
  background: url("../public/green.svg") no-repeat;
}
.div3:hover {
  transform: rotate(13deg) scale(1.3) translateY(50px);
}
.mainDiv > div:nth-child(3) > div >.cardTxt {
  width: 60%;
  grid-column: 4/6;
  grid-row: 2/5;
  font-size: clamp(1.5rem, 1.389vw + 0.833rem, 2.5rem);
  color: white;
}


.mainDiv > div:nth-child(4) > div {
  width: clamp(18.75rem, 17.361vw + 10.417rem, 31.25rem);
  height: clamp(12.5rem, 8.681vw + 8.333rem, 18.75rem);
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-content: center;
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 2s;
}
.mainDiv > div:nth-child(4){
  background: url("../public/red.svg") no-repeat;
}
.div4:hover {
  transform: rotate(-13deg) scale(1.3);
}
.mainDiv > div:nth-child(4) > div >.cardTxt {
  width: 60%;
  grid-column: 4/6;
  grid-row: 2/5;
  font-size: clamp(1.5rem, 1.389vw + 0.833rem, 2.5rem);
  color: white;
}

.image {
  width: 100%;
  height: 100%;
}
.imagebox {
  width: 60%;
  grid-column: 1/6;
  grid-row: 2/5;
}
.cardTxt {
  width: 60%;
  grid-column: 3/6;
  grid-row: 2/5;
  font-size: clamp(1.938rem, 3.869vw + 0.08rem, 3.563rem);
  color: white;
}

@media screen and (max-width: 650px) {
  .mainDiv > div:nth-child(1) > div {
    width: clamp(18.75rem, 75.758vw + 3.598rem, 31.25rem);
    height: clamp(9.375rem, 30.303vw + 3.314rem, 14.375rem);
    background-size: cover;
    overflow: hidden;
  }
  .mainDiv > div:nth-child(1){
    background: url("../public/card1.svg") no-repeat;
  }

  .mainDiv > div:nth-child(2) > div{
    width: clamp(18.75rem, 75.758vw + 3.598rem, 31.25rem);
    height: clamp(9.375rem, 30.303vw + 3.314rem, 14.375rem);
    
    background-size: cover;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow: hidden;
  }
  .mainDiv > div:nth-child(2){
    background: url("../public/blue.svg") no-repeat;
  }

  .mainDiv > div:nth-child(3) > div {
    width: clamp(18.75rem, 75.758vw + 3.598rem, 31.25rem);
    height: clamp(9.375rem, 30.303vw + 3.314rem, 14.375rem);
    background-size: cover;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow: hidden;
  }
  .mainDiv > div:nth-child(3){
    background: url("../public/green.svg") no-repeat;
  }


  .mainDiv > div:nth-child(4) > div{
    width: clamp(18.75rem, 75.758vw + 3.598rem, 31.25rem);
    height: clamp(9.375rem, 30.303vw + 3.314rem, 14.375rem);
    background: url("../public/red.svg") no-repeat;
    background-size: cover;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow: hidden;
  }

  .mainDiv > div:nth-child(4){
    background: url("../public/red.svg") no-repeat;
  }


  .mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

  }
  .imagebox {
    width: 46%;
  }
}
