/* For mobile view only */
@media only screen and (max-width:768px){
    .panel{
        color: black;
        width: 85vw;
        box-shadow: 0px 4px 15px 4px rgb(0 0 0 / 10%);
        padding: 10px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 17vw;
    }
    .details > h3{
        font-size: 1rem;
        width: 100px;
    }
    .btnbox{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .btn{
        background-color: black;
        color: white;
        border: none;
        width: auto;
        height: auto;
        padding: 5px;
        font-size: 13px;
        text-align: center;
    }
    .qty{
        margin: 5px;
        font-weight: bold;
        font-size: 25px;
    }
    .imagebox{
        width: 13vw;
        /* height: 30vw; */
    }
    .cartbd{
        padding: 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .trash{
        border: none;
        font-size: 21px;
        background-color: transparent;
        margin-top: 5px;
    }
}

/* For desktop view only */
@media only screen and (min-width: 768px) {
    .panel{
        color: black;
        width: 50vw;
        box-shadow: 0px 4px 15px 4px rgb(0 0 0 / 10%);
        padding: 23px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .btnbox{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .btn{
        background-color: black;
        color: white;
        border: none;
        width: 2.3vmax;
        height: 2.3vmax;
        font-size: 1.3vw;
        padding: 6px;
    }
    .qty{
        margin: 10px;
        font-weight: bold;
        font-size: 25px;
    }
    .imagebox{
        width: 5vw;
        /* height: 30vw; */
    }
    .details{
        width: 155px;
    }
    .cartbd{
        padding: 100px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .trash{
        border: none;
        font-size: 28px;
        background-color: transparent;
        margin-top: 5px;
    }
    .loadingpanel{
        color: black;
        width: 50vw;
        box-shadow: 0px 4px 15px 4px rgb(0 0 0 / 10%);
        padding: 23px;
        border-radius: 5px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .loadingpanel > div{
        margin:5px;
    }
    .loadingimg{
        width: 6vw;
        background-color: rgb(0 ,0 ,0 ,0.25);
        height: 6vw;
        animation-name: loading;
        animation-duration: 2000ms;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }
    .loadingtext{
        width: 20vw;
        height: 20px;
        background-color: rgb(0 ,0 ,0 ,0.25);
        animation-name: loading;
        animation-duration: 2000ms;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }
    .loadingprice{
        margin-top: 10px;
        width: 25%;
        height: 20px;
        background-color: rgb(0 ,0 ,0 ,0.25);
        animation-name: loading;
        animation-duration: 2000ms;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }
    @keyframes loading {
        from{
            opacity: 1;
        }to{
            opacity: 0;
        }
    }
}
